body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.left,
.right {
  width: 300px;
  margin: 0px 20px;
}

.right {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-img {
  width: 25px;
  height: 25px;
}
img {
  width: 100%;
  height: 100%;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blueviolet;
  margin: 0px 10px;
}
.nav-name {
  display: flex;
  align-items: center;
}
.nav-images {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

/* aside */

.aside {
  background-color: #fcfbff;
  width: 10%;
  height: 100%;
  min-width: 250px;
  position: fixed;
  padding-left: 3px;
}

.part {
  display: flex;
  padding: 10px;
  align-items: center;
  color: #757575;
}
.part span {
  padding: 0px 0px 0px 20px;
}

.main {
  display: flex;
}
.container {
  width: 89%;
  height: 500px;
  /* background-color: blue; */
  margin-left: 250px;
}

.selected {
  background-color: #e1d8f1;
  color: blue;
  border-left: 4px solid blue;
}

/* .icon{
  width: 50px;
  height: 50px;
} */

.tilt {
  transform: rotate(60deg);
}

.p-10 {
  padding: 0px 10px;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid gray;
}

.heading-left,
.heading-right {
  margin: 10px 20px 0px 20px;
}

.heading-left {
  display: flex;
}
.para {
  padding: 10px 0px;
  margin: 0px 6px;
  display: flex;
  align-items: center;
  /* border-left: 1px solid gray; */
}

.bl-1 {
  border-left: 1px solid gray;
}

.selected-b {
  color: blue;
  border-bottom: 3px solid blue;
}

.content {
  width: 90%;
  margin: 30px auto;
  /* background-color: yellow; */
  height: 200px;
}

.content-head {
  padding: 10px 0px 19px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content-head div {
  margin: 0px 15px;
}

.btn {
  padding: 8px 20px;
  background-color: #673ab7;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.plus {
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.detail-head {
  background-color: #f2f2f2;
}

tr {
  box-shadow: 0 3px 1px lightgray;
  margin-bottom: 2px;
}

td {
  padding: 15px;
}

/* .checkbox{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 0.1px solid lightgray;
  background-color: white;
} */
.eye {
  color: gray;
}
.center {
  padding-left: 25px;
  /* background-color: #673AB7; */
}
.center-1 {
  padding-left: 50px;
}

.check {
  /* background-color: #673AB7; */
  width: 10px;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: gray;
}

.access {
  width: 150px;
}
.access p {
  padding: 3px 10px;
  /* background-color: orange; */
  font-size: 0.8rem;
  vertical-align: center;
  text-align: center;
  font-weight: 600;
}
.access-lvl {
  padding-left: 40px;
  /* background-color: #673AB7; */
}
.all-access {
  background-color: #bee7cf;
  border-radius: 30px;
  border: 1.3px solid #27ae60;
  color: #27ae60;
}
.restricted-access {
  background-color: #ffb5b5;
  border-radius: 30px;
  border: 1.3px solid #ff0808;
  color: #ff0808;
}
.no-access {
  background-color: #f2f2f2;
  border-radius: 30px;
  border: 1.3px solid #bdbdbd;
  color: #bdbdbd;
}

input {
  padding: 6px;
  width: 100%;
  margin: 6px 0px;
}

.add-form {
  transition: display 1s;
  padding: 15px 0px;
}
.save {
  background-color: green;
}

.link {
  text-decoration: none;
  color: black;
}

.details-heading {
  /* background-color: #2DB065; */
  display: flex;
  border-bottom: 0.3px solid gray;
}

.details-para {
  padding: 10px;
}

.team-name h3 {
  color: blue;
  font-weight: 600;
  margin-bottom: 30px;
}

.team-name {
  position: relative;
}

.back-arrow {
  position: absolute;
  left: -30px;
  top: 5px;
  color: #757575;
  cursor: pointer;
}

.details-table {
  margin-top: 30px;
}

.center-2 {
  /* background-color: #2DB065; */
  text-align: center;
}

.check {
  vertical-align: center;
  /* background-color: #2DB065; */
}
.check-2 {
  color: #757575;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #27ae60;
}

input:focus + .slider {
  box-shadow: 0 0 1px #27ae60;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.eye {
  /* background-color: #2196F3; */
  width: 40px;
}

.operations {
  display: flex;
  justify-content: center;
}
.operations div {
  padding: 0px 5px;
  text-transform: capitalize;
}

.info {
  width: 100%;
  display: flex;
}
.table-heading {
  background-color: #f2f2f2;
}
.idx {
  width: 60px;
  padding: 15px;
}
.table-name {
  width: 300px;
  padding: 15px;
}
.access-lvl {
  width: 200px;
  padding: 15px;
  /* background-color: #673ab7; */
}
.summery {
  width: 350px;
  padding: 15px;
  /* background-color: #27ae60; */
}
.last-updated {
  width: 180px;
  padding: 15px 0px;
  /* background-color: yellow; */
}
.toggle {
  width: 60px;
  padding: 15px 0px;
  /* background-color: orange; */
}

/* .idx,
.table-name,
.access-lvl,
.summery,
.last-updated,
.toggle {
  
} */

.center-3 {
  padding-left: 15px;
}

.table-container {
  box-shadow: 0 3px 1px lightgray;
  margin-bottom: 2px;
}

.expand {
  width: 100%;
}

.expand-head {
  margin-left: 75px;
  font-size: 0.95rem;
}

.check-boxes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.check-boxes .left {
  width: 30px;
}

.check-2 {
  margin: 0px;
}
.check-boxes .right {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: flex-start;
  /* background-color: #27ae60; */
}
.fade {
  color: #bdbdbd;
}

.expand-body {
  display: flex;
}
.expand-body-left {
  width: 35%;
  border-right: 0.3px solid gray;
  margin: 30px 0px 30px 120px;
  /* background-color: #673ab7; */
}

.access-control {
  font-size: 0.95rem;
  font-weight: 600;
}

.expand-body-right {
  width: 30%;
  margin: 30px 20px;
  /* background-color: #27ae60; */
}

.left h1 {
  color: darkblue;
  font-family: sans-serif;
}
