body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* Navbar */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.left, .right{
  width: 300px;
  margin: 0px 20px;
}

.right{
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-img{
  width: 30px;
  height: 30px;
}
img{
  width: 100%;
  height: 100%;
}

.profile-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blueviolet;
  margin: 0px 10px;
}
.nav-name{
  display: flex;
  align-items: center;
}
.nav-images{
  display: flex;
  justify-content: space-between;
  width: 80px;
}


/* aside */

.aside{
  background-color: #FCFBFF;
  width: 10%;
  height: 100%;
  min-width: 250px;
  position: fixed;
  padding-left: 3px;
}

.part{
  display: flex;
  padding: 10px;
  align-items: center;
  color: #858486;
}
.part span{
  padding: 0px 0px 0px 20px;
}

.main{
  display: flex;
}
.container{
  width: 89%;
  height: 500px;
  /* background-color: blue; */
  margin-left: 250px;
}

.selected{
  background-color: #E1D8F1;
  color: blue;
  border-left: 4px solid blue;
}

/* .icon{
  width: 50px;
  height: 50px;
} */


.tilt{
  transform: rotate(60deg);
}

.p-10{
  padding: 0px 10px;
}

.heading{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid gray;
}

.heading-left, .heading-right{
 margin: 10px 20px 0px 20px;
}

.heading-left{
  display: flex;
}
.para{
  padding: 10px 0px;
  margin: 0px 6px;
  display: flex;
  align-items: center;
  /* border-left: 1px solid gray; */
}

.bl-1{
  border-left: 1px solid gray;
}

.selected-b{
  color: blue;
  border-bottom: 3px solid blue;
}
